.animated-gradient {
    width: 100%;
    min-height: 100vh;
    /* #dcdcdc #63c445 */
    background: linear-gradient(120deg, #17213a, #060e34);
    background-size: 300% 300%;
    animation: gradientShift 8s ease-in-out infinite;
    display: flex;
    flex-direction: column;
}

.hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.hero-content {
    text-align: center;
    max-width: 750px;
    color: #8f9eb6;
    backdrop-filter: blur(4px);
    padding: 40px 20px;
    border-radius: 20px;
    animation: fadeIn 1.2s ease forwards;
    opacity: 0;
    transform: translate(20px);
}

.hero-content h1,
.install-app h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
    color: #929bb0;
    line-height: 1.15;
}

.hero-content p,
.install-app p {
    font-size: 1.3rem;
    margin-bottom: 35px;
    color: #5c656fc8;
}


.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

.hero-btn {
    padding: 14px 45px;
    font-size: 1.2rem;
    background: black;
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.hero-btn:hover {
    transform: scale(1.05);
    background-color: #067d47;
}

.CatchPhrase {
    font-size: 1.2rem;
    font-weight: 500;
}


@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}