.animated-gradient {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #dcdcdc, #67d446);
    background-size: 300% 300%;
    animation: gradientShift 8s ease-in-out infinite;
    display: flex;
    flex-direction: column;
}

.hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.hero-content {
    text-align: center;
    max-width: 750px;
    color: #374151;
    backdrop-filter: blur(4px);
    padding: ;
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

.hero-content h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 22px;
    margin-bottom: 25px;
}

.hero-btn {
    padding: 12px 40px;
    font-size: 18px;
    background: #22C55E;
    color: black;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.25s ease;
}

.hero-btn:hover {
    background-color: #14B8A6;
}

.CatchPhrase {
    font-size: large;
    color: #6B7280;
}


@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}